<%-include("./layout/admin header.ejs") %> 


            
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="col d-flex justify-content-end">
                            <a href="addBanner" class="btn btn-danger mt-4 mb-4" >Add Banner</a>
                      </div>
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Banner Table</h6>
                            <div class="table-responsive">
                                <table class="table" id="bannerTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Main Title</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <% banners.forEach(function(banners,index){ %> 
                                    <tbody>
                                        
                                        <tr>
                                            <td scope="row"><%=index+1 %>  </td>
                                            <td><%=banners.title%> </td>
                                            <td><%=banners.mainTitle%> </td>
                                            <td >
                                                <%for(let z=0;z<banners.image.length;z++) {%>
                                                    <img height="110px" src="/image/productImages/<%=banners.image[z] %>" >
                                                    <% } %> 
                                                </td>
                                            <td><%=banners.description%> </td>
                                          
                                            <td>
                                                <a href="/admin/bannerEdit/<%=banners._id %>" 
                                                    class="btn btn-success"
                                                     onclick = "return confirm('Are you want edit <%=  banners.name%>')">edit</a>
                                            </td>
                                            <td>
                                                <% if (banners.access) {%> 
                                                <a href="/admin/bannerDisable/<%=banners._id %>" 
                                                    class="btn btn-danger"
                                                     onclick = "return confirm('Are you want disable <%=  banners.name%>')">Disable</a>
                                                <% }  else { %> 
                                                    <a href="/admin/bannerEnable/<%=banners._id %>" 
                                                        class="btn btn-danger" 
                                                        onclick = "return confirm('Are you want enable <%= banners.name%>')">Enable</a>
                                                    <% } %> 
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    <% }) %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
            <!-- Table End -->
            <script>
                $(document).ready( function () {
                    var table = $('#bannerTable').DataTable();
                } );
            </script>
        <!-- Content End -->

        <%-include('./layout/admin footer.ejs') %> 