<%-include("./layout/admin header.ejs") %> 


            
            <!-- Table Start --> 
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="col d-flex justify-content-end">
                           
                            <button type="button" class="btn btn-dark rounded-pill m-2"id="download-button">Download as PDF</button>
                        </div>
                        <div class="bg-secondary rounded h-100 p-4" id="invoice">
                            <h6 class="mb-4">Day sales Report</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Items</th>
                                            <th scope="col">Count</th>
                                            <th scope="col">Total price</th>
                                            <!-- <th scope="col">Actions</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% sales.forEach(function(sale,index){ %> 
                                        <tr>
                                            <th scope="row"><%=index+1 %>  </th>
                                            <td><%=sale._id.day+'-'+sale._id.month+'-'+sale._id.year%>   </td>
                                            <td><%=sale.items%> </td>
                                            <td><%=sale.count%> </td>
                                            <td><%=sale.totalPrice%></td>
                                        </tr>
                                        <% }) %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
            <!-- Table End -->
            <script>
                const button = document.getElementById('download-button');
    
                function generatePDF() {
                    // Choose the element that your content will be rendered to.
                    const element = document.getElementById('invoice');
                    // Choose the element and save the PDF for your user.
                    html2pdf().from(element).save();
                }
    
                button.addEventListener('click', generatePDF);
            </script>
        <!-- Content End -->

        <%-include('./layout/admin footer.ejs') %> 