<%-include("./layout/admin header.ejs") %>  

<div class="container">
    <div class="row justify-content-center">
<form action="/admin/productEdit/<%=product._id%>" method="post" enctype="multipart/form-data">
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Edit Product</h6>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                placeholder="Enter Product Name" name="name" value="<%=product.name %> ">
            <label for="floatingInput">Product Name</label>
        </div>
        
        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect"
                aria-label="Floating label select example" name="cat" >
                <!-- <option selected>Open this select menu</option>
                 -->

                <% categoryList.forEach(function(categoryList){ %>
                <option selected ><%=categoryList.name%> </option>
                <% }) %> 
            </select>
            <label for="floatingSelect">Categories</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingPassword"
                placeholder="Pa" name="price"  value="<%=product.price %>">
            <label for="floatingPassword">Price</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingPassword"
                placeholder="Pa" name="stock" value="<%=product.stock %>">
            <label for="floatingPassword">Stock</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword"
                placeholder="Pa" name="discount" value="<%=product.discount%>">
            <label for="floatingPassword">Discount</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingPassword"
                placeholder="Pa" name="size" value="<%=product.size %>">
            <label for="floatingPassword">Size</label>
        </div>
        <img src="/image/productImages/<%=product.image[0]%>" id="imgView" class="mb-3" width="100px" height="100px" alt="">
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload your Image</label>
            <input class="form-control bg-dark" onchange="viewImage(event)" type="file" id="image"  value="<%=product.image%>" name="image" multiple>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here"
                id="floatingTextarea" style="height: 150px;" name="description" ></textarea>
            <label for="floatingTextarea">Description</label>
            <input type="submit" value="Submit" class="btn btn-primary mt-4" >
        </div>
    </div>
</div>
</form>
</div>
</div>

<script>
    function viewImage(e){
        document.getElementById('imgView').src=URL.createObjectURL(e.target.files[0])
    }

</script>

<%-include('./layout/admin footer.ejs') %> 