
<%-include("./layout/admin header.ejs") %>  


<div class="container ">
    <div class="row ">
<form action="/admin/bannerEdit/<%=banner._id%>" method="post" enctype="multipart/form-data">
<div class="col-sm-12 col-xl-6 mt-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Edit Banner</h6>
        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect"
                aria-label="Floating label select example" name="cat" >
                <option selected>Open this select menu</option>
                <% categoryList.forEach(function(categoryList){ %>
                <option ><%=categoryList.name  %> </option>
                <% }) %> 
            </select>
            <label for="floatingSelect">Categories</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  
                placeholder="Enter Product Name" name="names" value="<%=banner.mainTitle%>">
            <label for="floatingInput">Banner Name</label>
        </div>
        <img src="/image/productImages/<%=banner.image[0]%>" id="imgView" class="mb-3" width="100px" height="100px" alt="">

        <div class="mb-3">
            <label for="formFile" class="form-label">Upload your Image</label>
            <input class="form-control bg-dark" onchange="viewImage(event)" type="file" id="image" value="<%=banner.image%>"  name="image" multiple>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  
                placeholder="Enter Product Name" name="url" value="<%=banner.url%>">
            <label for="floatingInput">Enter URL</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here"
                id="floatingTextarea" style="height: 150px;" name="description"></textarea>
            <label for="floatingTextarea">Description</label>
            <input type="submit" value="Submit" class="btn btn-primary mt-4">
        </div>
    </div>
</div>
</form>
</div>
</div>

<script>
    function viewImage(e){
        document.getElementById('imgView').src=URL.createObjectURL(e.target.files[0])
    }

</script>
<%-include('./layout/admin footer.ejs') %> 