<%-include("./layout/admin header.ejs") %> 

 <!-- Table Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="col d-flex justify-content-end">
          </div>
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Order Table</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">NO</th>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Paymnet</th>
                                <th scope="col">Status</th>
                                <!-- <th scope="col">Size</th>
                                <th scope="col">Image</th>
                                <th scope="col">Discriptiom</th> -->
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <% orders.forEach((ord ,index)=>{ %>
                        <tbody>
                           
                            <tr>
                                <th scope="row"><%=index+1 %>  </th>
                                <td><%=ord.date.toString().substring(0,15)%> </td>
                                <td style="width: 400px;"><%=ord.address%> </td>
                                <td><%=ord.total%> </td>
                                <td><%=ord.payment%> </td>
                                <td><%=ord.status%> </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=ord._id%>">
                                        View More
                                      </button>
                                </td>
                            </tr>
                        </tbody>
                        <% }) %> 
                    </table>
                     <!-- Modal -->
                                     </div>
                                 </div>
                                </div>
                            </div>
                     </section>
                </div>
      

        
<!-- Table End -->

<%-include('./layout/admin footer.ejs') %> 