<%-include("./layout/admin header.ejs") %> 
       
    
    

        <!-- Content Start -->
       

            <div class="col d-flex justify-content-end">
                <a href="addProduct" class="btn btn-danger mt-4 mb-4" >Add Products</a>
          </div>
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Products Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Discriptiom</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% productList.forEach(function(productList,index){ %> 
                                        <tr>
                                            <th scope="row"><%=index+1 %>  </th>
                                            <td><%=productList.name%> </td>
                                            <td><%=productList.category%> </td>
                                            <td><%=productList.price%> </td>
                                            <td><%=productList.stock%> </td>
                                            <td><%=productList.discount%> </td>
                                            <td><%=productList.size%> </td>
                                            <td>
                                                <%   for(let z=0;z<productList.image.length;z++) {%>
                                                    <img src="/image/productImages/<%= productList.image[z] %>" >
                                                    <% } %> 
                                                </td>
                                            <td><%=productList.description%> </td>
                                            <td>
                                                <a href="/admin/productEdit/<%=productList._id %> " 
                                                    class="btn btn-success"
                                                     onclick = "return confirm('Are you want edit <%=  productList.name%>')">edit</a>

                                            </td>
                                            <td>
                                                <a href="/admin/deleteProduct/<%=productList._id %> " 
                                                    class="btn btn-danger"
                                                     onclick = "return confirm('Are you want delete <%=  productList.name%>')">Delete</a>

                                            </td>
                                        </tr>
                                        <% }) %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
            <!-- Table End -->
            <%-include('./layout/admin footer.ejs') %> 