<%-include("./layout/admin header.ejs") %> 
       
    
    

        <!-- Content Start -->
       

           
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="col d-flex justify-content-end">
                            <a href="addProduct" class="btn btn-danger mt-4 mb-4" >Add Products</a>
                      </div>
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Products Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Discriptiom</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% productList.forEach(function(productList,index){ %> 
                                        <tr>
                                            <th scope="row"><%=index+1 %>  </th>
                                            <td><%=productList.name%> </td>
                                            <td><%=productList.category%> </td>
                                            <td><%=productList.price%> </td>
                                            <td><%=productList.stock%> </td>
                                            <td><%=productList.discount%> </td>
                                            <td><%=productList.size%> </td>
                                            <td >
                                                
                                                    <img height="110px" src="/image/productImages/<%= productList.image[0] %>" >
                                                    
                                                </td>
                                            <td><%=productList.description%> </td>
                                            <td>
                                                <a href="/admin/productEdit/<%=productList._id %>" 
                                                    class="btn btn-success"
                                                     onclick = "return confirm('Are you want edit <%=productList.name%>')">edit</a>

                                            </td>
                                            <td>
                                                <% if (productList.access) {%> 
                                                <a href="/admin/productDisable/<%=productList._id %>" 
                                                    class="btn btn-danger"
                                                     onclick = "return confirm('Are you want disable <%=productList.name%>')">Disable</a>
                                                <% }  else { %> 
                                                    <a href="/admin/productEnable/<%=productList._id %>" 
                                                        class="btn btn-danger" 
                                                        onclick = "return confirm('Are you want enable <%=productList.name%>')">Enable</a>
                                                    <% } %> 
                                            </td>
                                        </tr>
                                        <% }) %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                    
            <!-- Table End -->
            <%-include('./layout/admin footer.ejs') %> 