
<%-include("./layout/user header.ejs") %> 
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <% if(prd.cart.items.length<=0){ %> 
                                    
                                    <% }else{ %>
                                        
                                        
                                    
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <%prd.cart.items.forEach(function(prd){%>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="/image/productImages/<%= prd.productId.image[0] %>" height="100px" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                             <h5><%= prd.productId.name %></h5>
                                            <h6 style="font-weight: lighter;"><%=prd.productId.price %> </h6>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity" >
                                            <button class="reduce-items-count" onclick="changeQuantity('<%=prd.productId._id%>','-1')" style="border: none; background-color: white;" >
                                                <i class="bi bi-dash" style="font-size: 1em;"></i>
                                            </button>
                                               
                                                 <input type="text" name="qty" id="<%=prd.productId._id %>" maxlength="12" value="<%=prd.qty %>" title="Quantity:"
                                            class="input-text qty"   style="width: 2rem; border: none; ">
                                               
                                            <button  class="increase-items-count" onclick="changeQuantity('<%=prd.productId._id%>','1')" style="border: none; background-color: white;">
                                                <i class="bi bi-plus" style="font-size: 1em;"></i>
                                            </button>

                                        </div>
                                    </td>
                                    <td id=" " class="cart__price"><%=prd.productId.price * prd.qty%> </td>
                                    <a href="">
                                        <td class="cart__close">
                                            <button class="cart__close" onclick="changeQuantity('<%=prd.productId._id%>','-2')" style="border: none; background-color: white;" >
                                                <i class="fa fa-close" style="font-size: 1.5em;"></i>
                                            </button>
                                        </td>
                                    </a>

                                </tr>
                                

                            <% }) %>   
                            <% } %> 
                            </tbody>
                        </table>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">

                    <div class="cart__discount">
                        
                          
                        <h6>Discount codes</h6>
                        <div id="error" class="alert alert-danger" role="alert" style="display: none; height: 30px; font-size: 1.5em; padding-bottom:1.5EM ; ">
               
                        </div>
                        <div id="success" class="alert alert-success" role="alert" style="display: none;  height: 30px; font-size: 1.5em; padding-bottom:1.5EM ;">
                           
                        </div>
                        <form action="" id="couponForm">
                            <input type="text" placeholder="Coupon code" name="code" id="code">
                            <!-- <input type="number" name="total" value="<%= prd.cart.totalPrice%>" hidden> -->
                            <button type="submit">Apply</button>
                        </form>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Available Offers
                            </button>
                          </p>
                          <% for(i=0;i<couponz.length;i++) {%> 
                          <div class="collapse" id="collapseExample">
                            <input type="text" value="<%=couponz[i].code%> ">
                    </div>
                    <% } %> 
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                          
                            <li>Total <span id="total"> <%= prd.cart.totalPrice%>  </span></li>
                        </ul>
                        <button id="button" onclick="checkout('<%=userId%>')" class="primary-btn">Proceed to checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
<script>
    function changeQuantity(proId,cnt,ct){
        let quantity = document.getElementById(proId).value
        console.log(quantity);
        quantity=parseInt(quantity)
        let cont = parseInt(cnt)
        $.ajax({
            url:'/changeQuantity',
            method:'POST',
            data:{
                productId:proId,
                quantys:quantity,
                count:cont
            },
            success:((response)=>{
                if(response.access){
                    if(response.remove){
                        Swal.fire(
                            'Deleted!',
                            'Your item has been deleted',
                            'success'
                        ) 
                        setTimeout(()=>location.reload(),2000)                 
                    }else{
                        document.getElementById(proId).value=response.status
                        document.getElementById('total').innerHTML=response.total
                        // document.getElementById(ct).innerHTML=response.total
                    }
                }else{
                    Swal.fire({
                        title: 'Please Login',
                        showClass: {
                         popup: 'animate__animated animate__fadeInDown'
                         },
                         hideClass: {
                          popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                }
            })
        })
    }
    let clicked =false;
    $('#couponForm').submit((e)=>{
        e.preventDefault()
        const code =document.getElementById('code').value
        const total =document.getElementById('total').innerHTML
        if(code==""){
            document.getElementById('error').style.display='inline'
            setTimeout(()=>document.getElementById('error').style.display='none',2000)
        }else{
            $.ajax({
                url:'/couponCheck',
                method:'post',
                dataType:"json",
                encode:true,
                data:
                $('#couponForm').serialize()+'&total='+total,
                success:((response)=>{
                    if(response.status&& clicked==false){
                        document.getElementById('success').innerHTML="Coupon Entered"
                        document.getElementById('success').style.display='inline'
                        document.getElementById('total').innerHTML=response.total
                        setTimeout(()=>document.getElementById('success').style.display='none',2000)
                        clicked=true
                    }else{
                        document.getElementById('error').innerHTML="already entered"
                        document.getElementById('error').style.display='inline'
                        setTimeout(()=>document.getElementById('error').style.display='none',4000)

                    }

                })
            })
        }
    })

    function checkout(userId){
        const code = document.getElementById('code').value
        const total = document.getElementById('total').innerHTML
        location.href=`/checkout?user=${userId}&code=${code}&total=${total}`
    }


    
</script>
    

    <%-include("./layout/user footer.ejs") %> 
