<%-include("./layout/user header.ejs") %> 
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <!-- <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                        here</a> to enter your code</h6>
                        <h6 class="checkout__title">Select delivery Address</h6> -->
                        <% if(error) {%> 
                        <div class="alert alert-danger" role="alert">
                            <%=error%> 
                          </div>
                          <% } %> 
                        <p>
                            <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Link with href
                            </a> -->
                            <button class="btn btn-primary" type="button" data-toggle="collapse" style="font-size: .6em; background-color: rgb(229, 54, 55); border: none;" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              ADD new ADDRESS
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample">
                            <form action="/addressCheck" method="post">
                            <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Full Name<span>*</span></p>
                            <input type="text" name="name" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>mobile No<span>*</span></p>
                            <input type="tel"  name="mobile" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Pincode<span>*</span></p>
                            <input type="text" name="pin" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>locality<span>*</span></p>
                            <input type="text"  name="locality" required>
                        </div>
                    </div>
                </div>
                <div class="checkout__input">
                    <p>Address<span>*</span></p>
                    <input type="text" placeholder="address" name="addressDetails" required>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>City<span>*</span></p>
                            <input type="text" name="district" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>State<span>*</span></p>
                            <input type="text" name="state" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Landmark<span style="color: yellowgreen;">(optional)</span></p>
                            <input type="text"  name="landmark" >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Alternative Phone<span style="color: yellowgreen;">(optional)</span></p>
                            <input type="tel" name="optmob">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                          </div>
                          <form action="#" id="checkOut">
                        <% if (adds!==null) { %>
                            <% add.forEach(function(adds,index)  {%> 
                            <section class="row justify-content-center " style="margin-top: 2em;">
                                <div class="col-9 col-sm-8 col-md-8 col-lg-12">
                                    <div class="card ">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="card-title">Address <%=index+1 %>  </h5>
                                                
                                                    <input required class="checkout__input__checkbox" type="radio" id="html" name="address"  value="<%=adds.name %>  <%=adds.addressDetails%> <%=adds.locality%> <%=adds.district %> <%=adds.pin%> <%=adds.mobile%> ">
                                                   
                                                
                                            </div>
                                            <p class="card-text w-75"><%=adds.name %>  <%=adds.addressDetails%>  <%=adds.locality%>  <%=adds.district %>
                                              <%=adds.pin%> <%=adds.mobile%>
                                            </p>
                                            <div class="d-flex justify-content-between">
                                               
                                                   
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <% }) %>
                            <% }else{ %>
                                <div>
                                    
                                </div>
                                <% } %>   
                               
                                 
                                
                    </div>
                   
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span>  </div>
                            <ul class="checkout__total__products">
                                <%prd.cart.items.forEach(function(prd,index){%>
                                <li><%= prd.productId.name %> x <h style="color: rgb(217, 33, 33);"><%=prd.qty %></h><span><%=prd.productId.price * prd.qty  %></span></li>
                                <% }) %> 
                                
                            </ul>
                            <ul class="checkout__total__all">

                            <% var x=0 %> 
                                <%prd.cart.items.forEach(function(prd,index){%>
                                <!-- <li>Total <span><%= x+=prd.productId.price * prd.qty%></span></li> -->
                                <% }) %> 
                                <li >Total <span  ><%=total%></span></li>
                                <input type="text" name="totalPrice" value="<%=total%>" hidden>
                                <input type="text" name="userId" id="" value="<%=users._id %>" hidden>
                                <input class="checkout__input__checkbox" type="radio" id="html" name="address"  value="<%=adds.name %>  <%=adds.addressDetails%> <%=adds.locality%> <%=adds.district %> <%=adds.pin%> <%=adds.mobile%> " hidden>

                            </ul>
                           
                            <p>Dear Customer, Kindly select your payment method given below:</p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Cash On Delivery (COD)
                                    <input type="checkbox" id="payment"  name="payment" value="cod">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    RazorPay
                                    <input type="checkbox" id="paypal" name="payment" value="razorPay">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </form>
                </div>
            
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<script>
    $("#checkOut").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/placeOrder',
            method:'post',
            data:$('#checkOut').serialize(),
            encode:true,
            type:JSON,
            success:(response)=>{
                // alert(response)
                if(response.codSuccess){
                    console.log('suuuuuuuuuuuuu');
                //   alert('success')  
                location.href='/orderSuccess'
                }else{
                    razorpayPayment(response)
                }
            }
        })
    })
    
    function razorpayPayment(order) {
        var options = {
    "key": "rzp_test_c9LwPhNzbwNWJ6", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "FlipShop",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "handler": function (response){
    // alert(response.razorpay_payment_id);
    // alert(response.razorpay_order_id);
    // alert(response.razorpay_signature)

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
    var rzp1 = new Razorpay(options);
    rzp1.open();
    }
   
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verifyPayment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href='/orderSuccess'
                }else{
                    alert("payment failed")
                }
            }
        })
    }
</script>
<style>
    *,
body {
  margin: 0;
  padding: 0;
}

body {
  font-style: sans-serif;
}

.toggle-button {
  border: none;
  background: none;
  margin: 1em;
}

.costum-border {
  border-right: solid 1px lightgray;
}

.costum-border li {
  display: flex;
  align-items: center;
  height: 4.2em;
}

.costum-border li:hover {
  background-color: beige;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

</style>



<%-include("./layout/user footer.ejs") %> 

